#webGallary1L {
  position: relative;
  float: right;
  width: 21%;
  padding: 30px;
}

#webGallary2C {
  position: relative;
  float: right;
  width: 21%;

  padding: 30px;
}

#webGallary3R {
  position: relative;
  float: right;
  width: 21%;
  padding: 30px;
}
